html,
body {
   height: 100%;
}

body {
   color: $default;
   font-size: 16px;
   line-height: 26px;
   @extend %quicksand-500;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

a {
   color: $default;
   font-size: 16px;
   line-height: 26px;
   @extend %quicksand-500;
}

button {
   border: none;
   outline: none;
}

.header--gray {
   background-color: $bg;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   font-size: 48px;
   @extend %roboto-700;
   line-height: 1.3em;
   text-align: center;
   text-transform: uppercase;
   color: $title;
   margin-bottom: 10px;
}

.text {
   text-align: center;
   max-width: 570px;
   margin: 0 auto;
}

.breadcrumbs {
   display: inline-flex;
   justify-content: center;
   padding-left: 25px;
   position: relative;

   &::before {
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      background-image: url(../images/icons/home_icon.svg);
      width: 16px;
      height: 16px;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      padding-right: 25px;
      color: #727272;
      position: relative;
   }

   &__item::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 9px;
      width: 9px;
      height: 10px;
      background-image: url(../images/icons/angle_right.svg);

   }

   &__item:last-child {
      color: $accent;
      padding-right: 0;


      &::after {
         display: none;
      }
   }

   &__link {
      color: inherit;
   }

   &__item+&__item {
      margin-left: 15px;
   }
}

.pagination {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 35px;

   &__list {
      display: flex;
      margin: 0 35px;
   }

   &__item {
      margin: 0 10px;
   }

   &__arrows {
      text-transform: uppercase;
      margin: 0px 10px;

   }

   &__link--active {
      color: $accent;
   }

}