@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
   padding: 40px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__list-item+&__list-item {
      margin-left: 35px;
   }

   &__list-link {
      color: $title;
      text-transform: uppercase;
      padding: 0 2px 2px;
      transition: all 0.3s;
      @extend %roboto-400;

      &:hover {
         color: $accent;
         @extend %roboto-700;
         border-bottom: 1px solid $accent;
      }
   }

   &__list-link--active {
      color: $accent;
      @extend %roboto-500;
      border-bottom: 1px solid $accent;
   }
}

.user-nav {
   display: flex;

   &__link {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
   }

   &__link+&__link {
      margin-left: 25px;
   }

   &__num {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accent;
      top: -9px;
      right: -14px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
   }
}

.footer {
   background-color: $bg;
}

.footer-top {
   padding: 70px 0 40px;
   border-bottom: 1px solid #ececec;
   display: flex;

   &__contact {
      width: 250px;
      margin-right: 50px;
   }

   &__nav {
      width: 170px;
      margin-right: 30px;
   }

   &__item-form {
      max-width: 470px;
   }

   &__logo {
      margin-bottom: 30px;
      display: block;
   }

   &__adress,
   &__email,
   &__phone {
      display: block;
      margin-bottom: 14px;
   }

   &__social-list {
      display: flex;
      margin-top: 30px;
      align-items: center;
   }

   &__social-item+&__social-item {
      margin-left: 10px;
   }

   &__social-link {
      transition: all 0.3s;
      padding: 3px;

      path {
         fill: $default;
      }

      &:hover {
         path {
            fill: $accent;
         }
      }
   }

   &__title {
      margin-bottom: 34px;
      color: $title;
      @extend %roboto-500;
      font-size: 22px;
   }

   &__link {
      margin-bottom: 14px;
      display: block;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__form-input {
      max-width: 320px;
      width: 100%;
      border: none;
      background-color: #fff;
      padding: 12px 10px 12px 15px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

      &::placeholder {
         color: $default;
      }
   }

   &__form-btn {
      border: none;
      color: #fff;
      background-color: $accent;
      text-transform: uppercase;
      padding: 12px 25px;
      margin-left: -10px;
      cursor: pointer;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   }
}

.footer-bottom {
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;

   &__accept-img {
      display: inline;
      margin-left: 25px;
      vertical-align: middle;
   }
}

.slider-top {
   background-color: $bg;
   background-image: url(../images/slider-top-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left top;
   padding: 0 calc(50% - 745px);

   &__inner {
      padding-top: 70px;
      position: relative;
   }

   &__item {
      display: flex !important;
      justify-content: space-between;
   }

   &__content {
      max-width: 570px;
      width: 100%;
      padding-top: 115px;
      margin-left: 145px;
   }

   &__title {
      @extend %roboto-700;
      color: $title;
      font-size: 58px;
      line-height: 68px;
   }

   &__text {
      max-width: 480px;
      margin: 20px 0 50px;
   }

   &__btn {
      @extend %btn;
   }

   .slick-dots {
      position: absolute;
      display: flex;
      bottom: 35px;
      left: 45%;

      li {
         position: relative;
         padding: 0 3px;

         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background-color: $default;
            border-radius: 50%;
         }

         button {
            padding: 0;
            margin: 0;
            font-size: 0;
            border: none;
            width: 27px;
            height: 27px;
            background-color: transparent;
         }
      }

      .slick-active {
         border: 1px solid $accent;
         border-radius: 50%;
      }
   }
}

.categories-info {
   padding: 120px 0;
}

.info {
   display: flex;
   justify-content: space-between;

   &__item {
      width: 370px;
      padding: 60px 40px;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      margin-bottom: 115px;
   }

   &__item-title {
      margin: 40px 0 15px;
      font-size: 22px;
      color: $title;
      @extend %roboto-400;
   }
}

.categories {
   .categories__link {
      transition: all 0.7s;
   }

   &__items {
      margin-top: 60px;
      display: grid;
      min-height: 635px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
   }

   &__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 30px 10px 10px 30px;
   }

   &__item:nth-child(1) {
      grid-row: span 2;

      .categories__subtitle {
         color: #5800e4;
      }

      .categories__link:hover {
         color: #5800e4;
         border-bottom: 1px solid #5800e4;
      }
   }

   &__item:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__subtitle {
         color: #fe3e57;
      }

      .categories__link:hover {
         color: #fe3e57;
         border-bottom: 1px solid #fe3e57;
      }
   }

   &__item:nth-child(3) {
      .categories__subtitle {
         color: #ffb534;
      }

      .categories__link:hover {
         color: #ffb534;
         border-bottom: 1px solid #ffb534;
      }
   }

   &__item:nth-child(4) {
      .categories__subtitle {
         color: #34c3ff;
      }

      .categories__link:hover {
         color: #34c3ff;
         border-bottom: 1px solid #34c3ff;
      }
   }
}

.video-fashion,
.video-fashion__popup {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.video-fashion {
   background-color: $bg;
   padding: 115px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__popup {
      max-width: 540px;
      width: 100%;
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__content {
      max-width: 570px;
      padding-top: 80px;
   }

   &__subtitle {
      font-size: 22px;
      color: $accent;
      margin-bottom: 10px;
   }

   &__title {
      text-align: left;
   }

   &__text {
      margin: 35px 0 50px;
   }

   &__btn {
      @extend %btn;
   }
}

// start product

.products {
   padding: 120px 0;
   text-align: center;

   &__link {
      text-transform: uppercase;
      padding: 13px 25px;
      border: 1px solid $accent;
      display: inline-block;
      margin-top: 50px;
      color: $title;
      @extend %roboto-400;
      letter-spacing: 0.2em;
   }
}

.products__items {
   margin-top: 60px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 35px 30px;
}

.product-item {
   max-width: 370px;
   text-align: center;

   &.product-item--list {
      min-width: 100%;
      display: flex;
      text-align: left;

      .product-item__box {
         min-height: 250px;
         min-width: 200px;
         margin-bottom: 0;

         img {
            min-height: 100%;
         }

         &:hover .product-item__icons {
            transform: translateY(-280%);

         }
      }

      .product-item__icons {
         background-color: transparent;
         width: 115px;
         bottom: auto;




         .product-item__link {
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .product-item__link--ba {
            display: none;
         }

      }

      .product-item__content-box {
         display: block;
      }

      .product-item__content {
         display: flex;
         flex-wrap: wrap;
      }

      .product-item__title {
         order: -1;
         width: 100%;
         padding: 0;
         margin: 0;
         margin-bottom: 10px;
      }

      .product-item__price {
         order: -1;
         margin-left: -12px;
      }

      .star {
         margin-left: 23px;
      }

      .product-item__wrapper-box {
         padding: 30px 40px;
         border: 1px solid #ececec;
         border-left: none;
      }

      .product-item__text {
         margin-bottom: 25px;
      }

      .product-item__btn {
         padding: 11px 40px;
         text-transform: none;
         color: #fff;
         background-color: $title;
         cursor: pointer;
         transition: all .3s;

         &:hover {
            background-color: $accent;
            box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);


         }
      }

      .product-item__box::before {
         display: none;
      }
   }

   &__content-box {
      display: none;
   }

   &__box {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
   }

   &__box:hover {
      .product-item__icons {
         transform: translateY(0);
      }
   }

   &__icons {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 250px;
      height: 50px;
      background-color: #fff;
      border-radius: 23px;
      bottom: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: translateY(300%);
      transition: all .7s;

   }

   &__link {
      display: flex;
      align-items: center;
      padding: 10px;

      path {
         fill: #343338;
         transition: all .3s;
      }

      &--ba {
         position: relative;
      }

      &--ba::before,
      &--ba::after {
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 50px;
         height: 30px;
         width: 1px;
         background-color: #ececec;
      }

      &--ba::before {
         left: 50px;
      }
   }

   &__link:hover {
      path {
         fill: $accent;
      }
   }

   &__title {
      color: $title;
      font-size: 22px;
      @extend %roboto-400;
      margin: 20px 0;
   }

   &__price {
      display: flex;
      justify-content: center;
      @extend %roboto-500;

   }

   &__price-new,
   &__price-old {
      margin: 0 10px;
   }

   &__price-new {
      color: $title;
   }

   &__price-old {
      @extend %roboto-400;
      display: none;
      text-decoration: line-through;

   }

   &--sale {
      .product-item__price-old {
         display: block;
      }
   }

   &--sale {
      .product-item__box::before {
         content: 'SALE';
         position: absolute;
         top: 25px;
         left: 25px;
         padding: 5px 13px;

         @extend %roboto-400;
         letter-spacing: 0.1em;
         background-color: $accent;
         color: #fff;
      }

   }
}

.star {
   margin: 0 auto;
}

// star promo end partners 
.promo {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
   padding: 150px 0;

   &__inner {
      max-width: 570px;
      margin-left: auto;
      text-align: center;
   }

   &__subtitle {
      color: $accent;
      font-size: 22px;
      text-transform: uppercase;
   }

   &__btn {
      text-transform: uppercase;
      padding: 13px 25px;
      border: 1px solid $accent;
      display: inline-block;
      margin-top: 50px;
      color: $title;
      @extend %roboto-400;
      letter-spacing: 0.2em;

   }

   &__clock {
      display: flex;
      justify-content: space-between;
   }

   &__clock-item {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

   }

   &__number {
      font-size: 48px;
      @extend %roboto-700;
      color: $title;
      margin-bottom: 10px;
      margin-top: 15px;
   }
}

.partners {
   padding: 100px 0;

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.blog {
   padding: 50px 0 165px;
   background-repeat: no-repeat;
   background-position-y: center;

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 55px;
   }

   &__item {
      max-width: 370px;
      width: 100%;
      border: 1px solid #e8e8e8;
      transition: all .3s;


      &:hover {
         box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
         border: none;

         .blog__item-link::after {
            background-image: url(../images/blog/arrow-accent.svg);

         }

         .blog__item-link {
            color: $accent;
         }
      }
   }

   &__item-linkimg {
      display: block;
      height: 288px;
      margin-bottom: 29px;
      overflow: hidden;

   }

   &__item-box {
      padding: 25px 40px;
      background-color: #fff;
   }

   &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }

   &__item-author,
   &__item-data {
      padding-left: 30px;
      position: relative;
   }

   &__item-author::before,
   &__item-data::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
   }

   &__item-author::before {
      background-image: url(../images/blog/user.svg);
   }

   &__item-data::before {
      background-image: url(../images/blog/time.svg);
   }

   &__item-title {
      @extend %roboto-400;
      color: $title;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;
      display: block;
   }

   &__item-link {
      position: relative;
      transition: all.3s;
   }



   &__item-link::after {
      position: absolute;
      content: '';
      width: 10px;
      background-image: url(../images/blog/arrow.svg);
      height: 8px;
      right: -15px;
      top: 8px;
   }
}


// start top 

.top {
   padding: 0 calc(50% - 850px);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   padding-top: 120px;
   padding-bottom: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__title {
      text-transform: uppercase;
   }
}

.modal {
   max-width: 590px;
   width: 100%;
   margin: 0 auto;
   padding: 110px 10px 115px;

   &__links {
      display: flex;
      justify-content: center;
   }

   &__link {
      margin: 0 30px 60px;
      @extend %roboto-400;
      font-size: 22px;
      text-transform: uppercase;
      color: #909090;
   }

   &__link--active {
      color: $accent;
   }

   &__label {
      display: block;
      margin-bottom: 40px;
   }

   &__input {
      display: block;
      width: 100%;
      height: 60px;
      border: none;
      background-color: $bg;
      margin-top: 10px;
   }

   &__btn {
      width: 100%;
      padding: 20px 0;
      cursor: pointer;
      border: none;
      color: #fff;
      background-color: #292929;
      margin-bottom: 10px;
      margin-top: 10px;
      @extend %roboto-400;
      letter-spacing: 0.2em;
      display: block;
   }

   &__link-pas {
      color: $accent;
   }

   &__text {
      margin-bottom: 30px;
   }
}

.error {
   padding: 110px 0 120px;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      margin-top: 140px;
   }

   &__title {
      color: #28384f;
      font-size: 48px;
      @extend %roboto-700;
      margin-bottom: 30px;
   }

   &__text {
      max-width: 470px;
      margin-bottom: 60px;
   }

   &__link {
      @extend %btn;
   }
}

// start page shop 

.shop {
   padding: 120px 0 105px;

   &__inner {
      display: flex;
   }

   &__filters {
      width: 370px;
      margin-right: 30px;
   }
}

.filter {
   &__item {
      padding: 35px 30px 40px;
      border: 1px solid #ececec;
      margin-bottom: 40px;
   }

   &__title {
      @extend %roboto-400;
      text-transform: uppercase;
      color: $title;
      font-size: 22px;
      margin-bottom: 25px;

   }
}

.filter-search {
   &__form {
      display: flex;
   }

   &__input {
      background-color: $bg;
      border: none;
      height: 50px;
      width: 260px;
      padding: 0 5px 0 15px;
   }

   &__btn {
      border: none;
      background-color: $accent;
      width: 50px;
      height: 50px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }
}

.filter-price {
   &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
   }

   &__btn {
      @extend %btn;
      cursor: pointer;
      padding: 13px 20px;
      letter-spacing: 0.2em;
   }
}

.irs--flat {
   height: 30px;
}

.irs--flat .irs-line {
   top: 13px;
   height: 5px;
   background-color: #ececec;
   border-radius: 0;
}

.irs--flat .irs-handle {
   top: 0px;
   width: 30px;
   height: 30px;
   background-color: #fff;
   box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);

}

.irs--flat .irs-bar {
   top: 13px;
   height: 5px;
   background-color: $accent;
}

.irs-from,
.irs-to,
.irs-single {
   display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
   display: none;
}

.irs--flat .irs-handle>i:first-child {
   display: none;
}

.filter-color {
   &__label {
      padding-bottom: 20px;
      border-bottom: 1px solid #ececec;
      display: flex;
      justify-content: space-between;

      &:last-child {
         border-bottom: none;
         padding-bottom: 0;
      }

      &+.filter-color__label {
         padding-top: 20px;

      }

   }

   &__input {
      @extend %checkbox-hidden;

      &:checked+.filter-color__checkbox {
         background-image: url('../images/icons/icon-check.svg');
         background-repeat: no-repeat;

      }
   }

   &__checkbox {
      height: 16px;
      width: 16px;
      border-radius: 3px;
      position: absolute;
      margin-left: -16px;
      margin-top: 7px;
   }

   &__checkbox--blue {
      background-color: #00aeef;
   }

   &__checkbox--red {
      background-color: #f52574;
   }

   &__checkbox--green {
      background-color: #24d4ac;
   }

   &__checkbox--orange {
      background-color: #ff7e00;
   }

   &__checkbox--black {
      background-color: #000;
   }

   &__checkbox--purple {
      background-color: #923899;
   }
}

.filter-size {
   &__input {
      @extend %checkbox-hidden;

      &:checked+.filter-size__checkbox {
         background-image: url('../images/icons/check-size.svg');
         border: none;

         &+.filter-size__text {
            color: $accent;
         }
      }
   }

   &__label {
      padding-left: 35px;
      margin-bottom: 20px;
      display: block;
   }

   &__checkbox {
      width: 20px;
      height: 20px;
      border: 1px solid $default;
      border-radius: 50%;
      position: absolute;
      margin-left: -35px;
      margin-top: 3px;
   }
}

.filter-category {
   &__label {
      margin-bottom: 15px;
      cursor: pointer;
      display: block;

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__input {
      @extend %checkbox-hidden;

      &:checked+.filter-category__checkbox {
         background-color: $accent;
         color: #fff;
      }
   }

   &__checkbox {
      background-color: #f6f6f6;
      color: $title;
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;
   }
}

.filter-popular {
   &__label {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 8px;
      padding: 10px 0;
      cursor: pointer;
   }

   &__input {
      @extend %checkbox-hidden;

      &:checked+.filter-popular__checkbox {
         background-color: $accent;
         color: #fff;
         border-color: $accent;

      }
   }

   &__checkbox {
      border: 1px solid $default;
      padding: 10px 20px;
   }
}

.shop-content {
   width: 100%;

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #ececec;

      .product-item {
         margin-bottom: 40px;
      }
   }

   &__filter {
      border: 1px solid #ececec;
      padding: 20px 25px 20px 30px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__filter-buttons {
      display: flex;
      align-items: center;
      line-height: 0;
   }

   &__filter-btn {
      padding: 0;
      background-color: transparent;
      margin-left: 15px;
      cursor: pointer;

      &.shop-content__filter-btn--active {
         path {
            fill: $accent;
         }
      }
   }
}

.jq-selectbox__select {
   margin-left: 30px;
   height: 32px;
   padding: 0 30px 0 0px;
   border: none;
   background: transparent;
   box-shadow: none;
   @extend %quicksand-500;
   color: $default;
   text-shadow: none;

   &:hover {
      background: transparent;
   }
}

.jq-selectbox__trigger {
   border-left: none;
}

.jq-selectbox__trigger-arrow {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 10px;
   height: 5px;
   border: none;
   background-image: url('../images/icons/angle-down.svg');
}

// start product-page 
.product-page {
   padding: 120px 0 60px;
}

.product-one {
   &__inner {
      display: flex;
   }

   &__slide {
      max-width: 730px;
      width: 100%;
      margin-right: 70px;
   }

   &__content {
      max-width: 370px;
      width: 100%;
   }

   &__title {
      margin-bottom: 15px;
      color: $title;
      font-size: 20px;
   }

   &__box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }

   &__price {
      display: flex;
      font-size: 18px;

   }

   &__price-new {
      color: $title;
      padding-right: 15px;
   }

   &__price-old {
      text-decoration: line-through;
   }

   &__star {
      display: flex;
      align-items: center;

      span {
         padding-left: 8px;
         font-size: 19px;
         color: $title;
      }
   }

   &__text {
      margin-bottom: 25px;

      span {
         display: block;
         color: $title;
         @extend %roboto-400;
         font-size: 18px;
      }
   }

   &__btn {
      @extend %btn;
      margin-left: 15px;
      padding: 13px 35px;
   }

   .jq-number__field {
      width: 114px;
      border: 1px solid #f0f0f0;
      transform: translateY(1px);
   }

   .jq-number__field input {
      box-sizing: border-box;
      height: 50px;
      width: 100%;
      border: none;
      outline: none;
      @extend %quicksand-500;
      text-align: center;
      color: $title;
   }

   .jq-number {
      padding: 0;
      position: relative;

   }

   .jq-number__spin {
      position: absolute;
      cursor: pointer;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);

   }

   .jq-number__spin.minus {
      left: 15px;
   }

   .jq-number__spin.plus {
      right: 15px;
   }



   .jq-number__spin::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0px;
      width: 12px;
      height: 2px;
      background-color: $title;
      border: none;
   }

   .jq-number__spin.plus::before {
      content: '';
      position: absolute;
      height: 12px;
      width: 2px;
      left: 5px;
      background-color: $title;

   }
}


.product-info {
   &__list {
      margin-bottom: 25px;
   }

   &__item {
      margin-bottom: 5px;
      display: flex;
   }

   &__title {
      min-width: 100px;
      color: $title;
   }

   &__link {
      path {
         transition: all .4s;
         fill: $default;
      }

      &+.product-info__link {
         margin-left: 15px;
      }

      &:hover {
         path {
            fill: $accent;
         }
      }
   }


}

.product-slide {
   display: flex;

   .slick-vertical .slick-slide {
      height: 140px;
      margin-bottom: 30px;
   }

   &__small {
      width: 140px;
      margin-right: 30px;

   }

   &__small-item {
      margin-bottom: 30px;
      width: 140px;
      height: 140px;
      cursor: pointer;

      img {
         width: 140px;
         height: 140px;
         object-fit: cover;
      }
   }

   &__big {

      width: 560px;

      img {
         width: 560px;
         height: 650px;
         object-fit: cover;

      }
   }
}

.product-filter {
   &__color {
      margin-bottom: 35px;
   }

   &__color-label,
   &__size-label {
      margin-right: 10px;
   }

   &__color-input {
      @extend %radio-hidden;

      &:checked {
         &+.product-filter__color-checkbox {
            border-color: $accent;
         }
      }
   }

   &__color-checkbox {
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: 1px solid #ccccce;
      transition: all .3s;
      position: relative;
      display: inline-block;

      span {
         position: absolute;
         display: inline-block;
         width: 16px;
         height: 16px;
         background-color: red;
         top: 3px;
         left: 3px;
      }
   }

   &__color-title,
   &__size-title {
      margin-bottom: 10px;
      font-size: 18px;
      color: $title;
      @extend %roboto-400;

   }


   &__size {
      margin-bottom: 35px;
   }

   &__size-input {
      @extend %radio-hidden;

      &:checked {
         &+.product-filter__size-checkbox {
            border-color: $accent;
         }
      }
   }

   &__size-checkbox {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      border: 1px solid #ccccce;
   }
}

.product-tabs {
   padding-top: 110px;

   &__top {
      margin-bottom: 40px;
      border-bottom: 1px solid #f0f0f0;
      @extend %roboto-400;
      font-size: 22px;
   }

   &__top-item {
      margin-bottom: 10px;

      &+.product-tabs__top-item {
         margin-left: 55px;
      }

      display: inline-block;
   }

   &__top-item--active {
      color: $title;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         bottom: -11px;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         background-color: $accent;
      }
   }

   &__content-item {
      display: none;
   }

   &__content-item--active {
      display: block;
   }
}

.comments {
   margin-bottom: 40px;
   display: flex;

   &__img {
      height: 70px;
      min-width: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 30px;
   }

   &__content-top {
      display: flex;
      margin-bottom: 10px;
      @extend %roboto-400;
   }

   &__content-name {
      color: $title;
      margin-right: 13px;
   }

   &__content-data {
      padding-left: 13px;
      position: relative;

      &::before {
         position: absolute;
         content: '';
         height: 15px;
         width: 1px;
         left: 0;
         top: 6px;
         background-color: $default;
      }
   }

   &__content-star {
      margin-left: auto;
      margin-right: 0;
   }

   &__content-text {
      margin-bottom: 10px;
   }

   &__content-replay {
      display: inline-block;
      padding-left: 25px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         width: 15px;
         height: 13px;
         top: 5px;
         background-image: url(../images/icons/shape.svg);
      }
   }
}

.comments-form {
   border-bottom: 1px solid #f0f0f0;
   padding-bottom: 60px;

   &__title {
      color: $title;
      @extend %roboto-400;
      font-size: 22px;
      padding-bottom: 10px;
      margin-bottom: 30px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         background-color: $accent;
         height: 1px;
         width: 50px;
         bottom: 0;

      }
   }

   &__rating {
      margin-bottom: 30px;
   }

   &__rating-title {
      color: $title;
      margin-right: 60px;
   }

   &__label {
      margin-right: 25px;
   }

   &__radio {
      cursor: pointer;

      svg {
         display: inline-block;
         margin-right: -5px;
      }
   }

   &__input {
      @extend %radio-hidden;

      &:checked+.comments-form__radio {
         path {
            fill: #ffc35b;
         }
      }
   }


   &__box-input {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;

   }

   &__text-input {
      width: 570px;
      display: inline-block;
      height: 50px;
      padding: 0 20px;
      border: 1px solid #f0f0f0;
   }

   &__textarea {
      border: 1px solid #f0f0f0;
      padding: 15px 20px;
      display: block;
      width: 100%;
      height: 225px;
      resize: none;
      margin-bottom: 40px;
   }

   &__btn {
      @extend %btn;
   }

}

.related {
   padding: 50px 0 110px;

   &__title {
      margin-bottom: 50px;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
   }

   .product-item__title {
      margin: 10px 0;
   }

   .product-item__box {
      margin-bottom: 10px;
   }
}


// start blog 

.blog-page {
   padding: 120px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      max-width: 770px;
      width: 100%;
      margin-right: 30px;
   }

   &__aside {
      max-width: 370px;
      width: 100%;
   }

   &__item {
      margin-bottom: 60px;

      &.blog-page__item--noimage {
         border-top: 1px solid #ececec;
         box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);

      }

   }

   &__item-link {
      color: $title;
      font-size: 22px;
      @extend %roboto-500;
      line-height: 32px;
   }


   &__img {
      max-width: 770px;
      height: 450px;
      object-fit: cover;
   }

   &__item-box {
      border: 1px solid #ececec;
      border-top: none;
      padding: 40px;
   }


   &__box {
      justify-content: start;
      margin-top: 20px;

      .blog__item-author {
         margin-right: 30px;
      }
   }

   &__item-link {
      transition: all .3s;

      &:hover {
         color: $accent;
      }
   }

   &__link {
      display: block;
      max-width: 100%;
   }

   &__video {
      position: relative;
   }

   &__video::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      background-image: url(../images/icons/play.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
   }

   &__video::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      transform: translate(-56%, -50%);

   }

   &__item--slider {
      .blog-page__item-box {
         margin-top: -8px;
      }

   }

   &__slider {



      .slick-next,
      .slick-prev {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 5;
         width: 40px;
         height: 40px;
         background-color: $accent;
         border-radius: 50%;
         border: none;
         outline: none;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
         box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

      }




      .slick-next {
         right: 40px;
      }

      .slick-prev {
         left: 40px;
      }

      .slick-disabled {
         background-color: #fff;
         box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

         path {
            fill: $accent;
         }
      }
   }

}

.person {
   border: 1px solid #ececec;
   margin-bottom: 40px;
   padding: 40px 25px;
   text-align: center;

   &__img {
      display: inline-block;
      width: 160px;
      height: 160px;
      object-fit: cover;
   }

   &__name {
      color: $title;
      @extend %roboto-700;
      font-size: 18px;
   }

   &__position {
      color: $accent;
      margin-bottom: 25px;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__social-link {
      margin: 0 8px;

      path {
         fill: $default;
         transition: all .3s;
      }

      &:hover {
         path {
            fill: $accent;
         }
      }
   }
}

.latest-post {
   padding: 35px 30px 40px;
   border: 1px solid #ececec;
   margin-bottom: 40px;

   &__title {
      color: $title;
      text-transform: uppercase;
      font-size: 22px;
      @extend %roboto-400;
      margin-bottom: 35px;
   }

   &__item {
      padding-bottom: 20px;
      display: flex;
   }

   &__item+.latest-post__item {
      border-top: 1px solid #cecece;
      padding-top: 20px;
   }

   &__img-link {
      margin-right: 20px;
      display: inline-block;
      min-width: 80px;
   }

   &__img {
      object-fit: cover;
      width: 80px;
      height: 80px;
   }

   &__title-link {
      @extend %roboto-400;
      font-size: 18px;
      color: $title;
      line-height: 28px;
   }

   &__data {
      padding-left: 26px;
      position: relative;

      &::before {
         position: absolute;
         content: '';
         width: 16px;
         height: 16px;
         left: 0;
         top: 5px;
         background-image: url(../images/icons/callendar.svg);
      }
   }
}