<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/product.min.css">
</head>

<body>
  {% include 'app/module/_header/_header.html' %}

   <main class="main">
                <section class="top" style="background-image: url(images/top-bg.jpg);">
         <h2 class="top__title title">SHOP PAGE</h2>
         <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
               <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Home</a>
               </li>
               <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Shop page</a>
               </li>
            </ul>
         </div>
      </section>
  {% include 'app/module/_product-page/_product-page.html' %}
  {% include 'app/module/_related/_related.html' %}





   </main>

     
   {% include 'app/module/_footer/_footer.html' %}


   <script src="js/main.min.js"></script>
</body>

</html>