.footer {
   background-color: $bg;
}

.footer-top {
   padding: 70px 0 40px;
   border-bottom: 1px solid #ececec;
   display: flex;

   &__contact {
      width: 250px;
      margin-right: 50px;
   }

   &__nav {
      width: 170px;
      margin-right: 30px;
   }

   &__item-form {
      max-width: 470px;
   }

   &__logo {
      margin-bottom: 30px;
      display: block;
   }

   &__adress,
   &__email,
   &__phone {
      display: block;
      margin-bottom: 14px;
   }

   &__social-list {
      display: flex;
      margin-top: 30px;
      align-items: center;
   }

   &__social-item+&__social-item {
      margin-left: 10px;
   }

   &__social-link {
      transition: all 0.3s;
      padding: 3px;

      path {
         fill: $default;
      }

      &:hover {
         path {
            fill: $accent;
         }
      }
   }

   &__title {
      margin-bottom: 34px;
      color: $title;
      @extend %roboto-500;
      font-size: 22px;
      pointer-events: none;
   }

   &__link {
      margin-bottom: 14px;
      display: block;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__form-input {
      max-width: 310px;
      width: 100%;
      border: none;
      background-color: #fff;
      padding: 12px 10px 12px 15px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

      &::placeholder {
         color: $default;
      }
   }

   &__form-btn {
      border: none;
      color: #fff;
      background-color: $accent;
      text-transform: uppercase;
      padding: 12px 25px;
      margin-left: -4px;
      cursor: pointer;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   }
}

.footer-bottom {
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;

   &__accept-img {
      display: inline;
      margin-left: 25px;
      vertical-align: middle;
   }
}

@media(max-width:1024px) {
   .footer-top {
      flex-wrap: wrap;
   }

   .footer-top__item-form {
      max-width: 100%;
      text-align: center;
      margin-top: 30px;
   }
}

@media(max-width:768px) {
   .footer-top__contact {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      margin-right: 0;
   }

   .footer-top__logo {
      display: flex;
      justify-content: center;
   }

   .footer-top__social-list {
      justify-content: center;
   }

   .footer-top__nav {
      width: 50%;
      text-align: center;
      margin-right: 0;
   }

   .footer-bottom {
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media(max-width:480px) {
   .footer-top__form-input {
      max-width: 100%;
      display: block;
   }

   .footer-top__form-btn {
      margin-top: 20px;
   }

   .footer-top__title {
      pointer-events: visiblePainted;
   }

   .footer-top__nav {
      width: 100%;
   }

   .footer-top__list {
      display: none;
   }
}