.slider-top {
   background-color: $bg;
   padding: 0 calc(50% - 745px);

   &__inner {
      padding-top: 70px;
      position: relative;
   }

   &__item {
      display: flex !important;
      justify-content: space-between;
   }

   &__img {
      margin-right: 20px;
      margin-bottom: 20px;
   }

   &__content {
      max-width: 570px;
      width: 100%;
      padding-top: 115px;
      margin-left: 145px;
      margin-right: 20px;
   }

   &__title {
      @extend %roboto-700;
      color: $title;
      font-size: 58px;
      line-height: 68px;
   }

   &__text {
      max-width: 480px;
      margin: 20px 0 50px;
   }

   &__btn {
      @extend %btn;
   }

   .slick-dots {
      position: absolute;
      display: flex;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);

      li {
         position: relative;
         padding: 0 3px;

         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background-color: $default;
            border-radius: 50%;
         }

         button {
            padding: 0;
            margin: 0;
            font-size: 0;
            border: none;
            width: 27px;
            height: 27px;
            background-color: transparent;
         }
      }

      .slick-active {
         border: 1px solid $accent;
         border-radius: 50%;
      }
   }
}

@media (max-width:1200px) {
   .slider-top {

      &__content {
         padding-top: 50px;
         margin-left: 20px;
         margin-right: 20px;
         margin-bottom: 40px;
      }

      &__img {
         width: 40%;
         object-fit: contain;
         height: 400px;
      }
   }
}

@media (max-width:768px) {
   .slider-top {
      &__inner {
         padding-top: 20px;
      }

      &__content {
         padding-top: 10px;
         margin-left: 20px;
         margin-right: 20px;
         margin-bottom: 10px;
         max-width: 320px;
      }

      &__title {
         font-size: 23px;
         line-height: 1.3em;
      }

      &__btn {
         padding: 10px 20px;
      }

      &__img {
         width: 40%;
         object-fit: contain;
         height: 250px;
         margin-right: 10px;
      }


      .slick-dots {
         bottom: 15px;
      }
   }
}

@media (max-width:480px) {
   .slider-top {
      .slider-top__img {
         display: none;
      }

      &__content {
         margin: 0 auto;
         margin-bottom: 70px;
         text-align: center;
      }

      &__text {
         margin-bottom: 20px;
      }
   }
}