.categories-info {
   padding: 120px 0;
}

.info {
   display: flex;
   justify-content: space-between;

   &__item {
      width: 370px;
      padding: 60px 40px;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      margin-bottom: 115px;
   }

   &__item-title {
      margin: 40px 0 15px;
      font-size: 22px;
      color: $title;
      @extend %roboto-400;
   }
}

.categories {
   .categories__link {
      transition: all 0.7s;
      width: 140px;
   }

   &__items {
      margin-top: 60px;
      display: grid;
      min-height: 635px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
   }

   &__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 30px 10px 10px 30px;
   }

   &__item:nth-child(1) {
      grid-row: span 2;

      .categories__subtitle {
         color: #5800e4;
      }

      .categories__link:hover {
         color: #5800e4;
         border-bottom: 1px solid #5800e4;
      }
   }

   &__item:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__subtitle {
         color: #fe3e57;
      }

      .categories__link:hover {
         color: #fe3e57;
         border-bottom: 1px solid #fe3e57;
      }
   }

   &__item:nth-child(3) {
      .categories__subtitle {
         color: #ffb534;
      }

      .categories__link:hover {
         color: #ffb534;
         border-bottom: 1px solid #ffb534;
      }
   }

   &__item:nth-child(4) {
      .categories__subtitle {
         color: #34c3ff;
      }

      .categories__link:hover {
         color: #34c3ff;
         border-bottom: 1px solid #34c3ff;
      }
   }
}