.blog {
   padding: 50px 0 165px;

   &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 55px;
   }

   &__item {
      max-width: 370px;
      margin: 10px;
      width: 100%;
      border: 1px solid #e8e8e8;
      transition: all .3s;


      &:hover {
         box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
         border: none;

         .blog__item-link::after {
            background-image: url(../images/blog/arrow-accent.svg);

         }

         .blog__item-link {
            color: $accent;
         }
      }
   }

   &__item-linkimg {
      display: block;
      height: 290px;
      margin-bottom: 29px;
      overflow: hidden;

   }

   &__item-img {
      width: 370px;
      height: 290px;
      object-fit: cover;
   }

   &__item-box {
      padding: 25px 40px;
      background-color: #fff;
   }

   &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }

   &__item-author,
   &__item-data {
      padding-left: 30px;
      position: relative;
   }

   &__item-author::before,
   &__item-data::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
   }

   &__item-author::before {
      background-image: url(../images/blog/user.svg);
   }

   &__item-data::before {
      background-image: url(../images/blog/time.svg);
   }

   &__item-title {
      @extend %roboto-400;
      color: $title;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;
      display: block;
   }

   &__item-link {
      position: relative;
      transition: all.3s;
   }



   &__item-link::after {
      position: absolute;
      content: '';
      width: 10px;
      background-image: url(../images/blog/arrow.svg);
      height: 8px;
      right: -15px;
      top: 8px;
   }
}

@media (max-width:480px) {
   .container {
      padding: 0 5px;
   }

   .blog {
      padding: 20px 0;

      &__item-box {
         padding: 10px;
      }

      &__item-title {
         font-size: 16px;
      }
   }
}