.error {
   padding: 110px 0 120px;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      margin-top: 140px;
   }

   &__title {
      color: #28384f;
      font-size: 48px;
      @extend %roboto-700;
      margin-bottom: 30px;
      line-height: 1.3em;
   }

   &__text {
      max-width: 470px;
      margin-bottom: 60px;
   }

   &__link {
      @extend %btn;
   }

   &__img {
      width: 600px;
      height: 300px;
      object-fit: contain;
   }
}